<hr>
<section class="align-items-center w-100 h-100">
  <div class="h-75 w-100">
    <h2 class="fs-2 text-center py-5">How to use</h2>
  </div>
  <div class="d-flex flex-column flex-lg-row ">
    <div class="h-5 w-75 mx-auto d-flex flex-column flex-lg-row justify-content-around align-items-center mb-2">
      <div class="d-flex flex-lg-column align-items-center mx-4">
        <h3 class="fs-2 dark">STEP 1</h3>
        <p class="text-center w-4 h-3 p-2">
          新規投稿ページで
          <br>
          質問を投稿しましょう。
        </p>
      </div>
    </div>
    <div class="h-5 w-75 mx-auto d-flex flex-column flex-lg-row justify-content-around align-items-center mb-2">
      <div class="d-flex flex-lg-column align-items-center mx-4">
        <h3 class="fs-2 dark">STEP 2</h3>
        <p class="text-center w-4 h-3 p-2">
          質問の詳細ページで
          <br>
          質問に対するアドバイスを投稿しましょう。
        </p>
      </div>
    </div>
  </div>
</section>