<section class="h-100 d-block">
  <div class="position-relative">
    <h1 class="fs-1 text-center position-absolute top-50 start-50 translate-middle p-5">QandA</h1>
  </div>
</section>
<section>
  <div class="d-flex flex-column text-center my-4">
    <%= link_to new_user_registration_path do %>
      <button class="btn w-75 p-3 rounded" type="button">新規登録</button>
    <% end %>
    <%= link_to new_user_session_path do %>
      <button class="btn w-75 p-3 rounded" type="button">ログイン</button>
    <% end %>
  </div>
</section>
<hr>
<section class="d-flex justify-content-center align-items-center w-100 h-100">
  <div class="h-75 w-100">
    <h2 class="fs-2 text-center py-5">How to use</h2>
    <div class="h-5 w-75 mx-auto d-flex justify-content-around align-items-center mb-2">
      <%= image_tag 'home1.jpg', width: '450px', height: '250px', class: 'border' %> 
      <div class="d-flex flex-column align-items-center mx-4">
        <h3 class="fs-2 dark">STEP 1</h3>
        <p class="text-center w-4 h-3 p-2">
          新規投稿ページで
          <br>
          質問を投稿しましょう。
        </p>
      </div>
    </div>
    <div class="h-5 w-75 mx-auto d-flex justify-content-around align-items-center my-4">
      <%= image_tag 'home2.jpg',width: '450px', height: '250px', class: 'border' %> 
      <div class="d-flex flex-column align-items-center mx-4">
        <h3 class="fs-2 dark">STEP 2</h3>
        <p class="text-center w-4 h-3 p-2">
          質問の詳細ページで
          <br>
          質問に対するアドバイスを投稿しましょう。
        </p>
      </div>
    </div>
  </div>
</section>