/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
body {
  a {
    text-decoration: none;
  }
}
.home_img {
  overflow: hidden;
  width:100vw; 
  height: 90vh;
}

 .form-control, .btn {
   border-radius: 0;
 }
 .btn {
  margin: 10px;
  background-color: #62E573;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  
   &-search {
    margin: 0;
    background-color: #62E573;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   }
 }
 input[su]
 .userpage_class {
   border-radius: 50%;
 }

 .tweets-container {
  width: 50%;
  margin: 10px auto;
}
h3 {
  margin-bottom: 30px;
}
.tweet {
  border-top: solid #62E573;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  justify-content: flex-end;
}
.login {
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  &_remember {
    margin-top: .5em;

    a {
      color: black;
      font-size: 1em;
    }
  }
}
.alert {
  border-radius: 0;
  margin-bottom: 0.3rem;

  &.alert-bule {
    background-color: rgb(65, 65, 243);
  }
  &.alert-red {
    background-color: rgb(218, 71, 71);
  }

  
}
span {
  font-weight: bold;
  color: #62E573;
  font-size: 20px;
}
